apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: directory-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/didzisdti/sandbox
    targetRevision: main
    path: apps/directory-app
  destination:
    server: https://kubernetes.default.svc
    namespace: demo  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true